* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-y: scroll;
}

body{
    background-color: rgb(10, 10, 10);
    background-size: cover;
    font-size: 16px;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.8);
    padding: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    z-index: 10000000000000;
}

nav{

}

nav ul li{
    display: inline-flex;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;

}

nav ul li a:hover{
    background-color: #AA7B4A;
    color: black;
}

.banner{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.banner img{
    width: 100%;
    object-fit: cover;
    display: block;
    height: 80vh;
}

.bannerprincipal{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.bannerprincipal img{
    width: 100%;
    object-fit: cover;
    display: block;
    height: calc(100vh - 39px);
}

.bannerprincipal::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgb(0,0,0,0.7), transparent);
    z-index: 1;
}

.banner::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgb(0,0,0,0.7), transparent);
    z-index: 1;
}

.infobanner{
    position: absolute;
    top: 200px;
    left: 150px;
    bottom: 200px;
    color: white;
    z-index: 2;
    display: flex;
    height: 284px;
    align-items: center;
}

.infobannerprincipal{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 2;
    display: flex;
    height: 284px;
    align-items: center;
    transform: translate(-50%,-50%);
    text-align: center;
}

.comidabanner{
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.textobanner{
    width: 600px;
    margin-left: 50px;
}

.comidabanner img{
    height: 100%;
    width: 284px;
}

.subtitulobanner{
    color: rgba(255, 255, 255, 0.699);
}

.titulobanner{
    font-size: 100px;
}

.receita{
    max-width: 1200px;
    color: white;
    margin: 30px auto;
    background-color: rgb(20, 20, 20);
    padding: 0px 30px;
    border-radius: 10px;
    border: 1px solid rgb(36, 36, 36);
}

.titulo{
    padding: 20px 0px;
    
}

.lista{
    line-height: 1.5;
    margin-left: 30px;
}

.listapreparo li{
    margin-bottom: 10px;
}

footer{
    background-color: rgb(17, 17, 17);
    padding: 10px;
    margin: 0%; 
    text-align: center;
    color: white;
    border-top: 1px solid rgb(36, 36, 36);
}

.p{
    line-height: 1.5;
    margin-bottom: 10px;
}
